.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    width: 40%;
}

h1 {
    font-weight: 300;
    font-style: italic;
    clear: both;
}

#author {
    align-self: flex-end;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: .6rem .8rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.button:hover {
    cursor: pointer;
}
