.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#quote-box{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 3rem;
    border-radius: 5px;
    width: 40%;
    margin: .5rem;
}

h1 {
    font-weight: 300;
    font-style: italic;
    clear: both;
}

#author {
    align-self: flex-end;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: .6rem .8rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    transition: transform .2s;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 2s;
}

#github {
    color: white;
    text-decoration: none;
}